@import 'reset.css';
@import 'vars.css';

/* Estilos gerais */
body {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 0;
}

.light{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    padding: 5px 7px;
    color: black;
}

.light:hover{
    background-color: var(--color-tertiary);
}

.light.dark{
    background-color: black;
    color: var(--color-white);
     
}

.light.dark:hover{
    background-color: var(--color-text);
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.input-section.dark {
    background-color: var(--color-text);
}

.dark .section-title{
    color: var(--color-white);
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.dark .input-name {
    background-color: #000;
    color: var(--color-white);
    border: 2px solid var(--color-tertiary);
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.dark .name-list {
    color: var(--color-white);
}

/* .dark .name-list {
    color: var(--color-white);
} */

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.patinha{
    width: 68px;
    height: 68px;
}

.alert{
    color: red;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

#alertaSorteio.show, #alertaInput.show {
    opacity: 1;
}

#alertaSorteio.hide, #alertaInput.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

footer {
    color: #F4F4F4;
    font-size: 16px;
    text-align: center;
    padding-block: 12px;
    border-top: 1px dashed #000000;
    width: 100%;
}

@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
    .header-banner {
        flex-wrap: nowrap;
    }

    .main-title{
        font-size: 44px;
        margin-left: 30px;
    }

    .header-banner img{
        width: 300px;
    }
}

@media (orientation: portrait) and (max-width: 679px){
    .header-banner img{
        width: 250px;
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .main-title{
        font-size: 40px;
    }

    .section-title{
        font-size: 30px;
        margin-block: 5px;
    }

    .button-add{
        padding: 15px 10px;
    }

    .button-draw img {
        margin-right: 40px;
    }

    .patinha{
        width: 50px;
        height: 50px;
    }
}
